asgiref==3.7.2
astroid==3.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
cryptography==42.0.5
defusedxml==0.7.1
dill==0.3.8
Django==4.2.11
django-allauth==0.61.1
django-crispy-forms==2.1
idna==3.6
isort==5.13.2
mccabe==0.7.0
oauthlib==3.2.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
pylint==3.1.0
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.4.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.10.0
urllib3==2.2.1
yamllint==1.35.1